*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100vw;
}

body{
     font-family: "Special Gothic", sans-serif;
     background-color: rgb(20, 20, 20);
}


h2, h1, h3, h4, h5{
    font-family: "Poppins", sans-serif;
}

.header{
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to right, black, rgb(17, 43, 43), black,rgb(9, 36, 36),black);
    color: rgb(202, 237, 241);
    padding: 0 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
}

.nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;  
    width: 40vw ; 
}

.nav a{
    margin-left: 20px;
    color: rgb(222, 235, 238);
    font-size: 1.4rem;
    text-decoration: none;
}

.nav a:hover{
    color: rgb(8, 253, 241);
    transition: 0.6s;
    text-decoration: underline;
}

.home-main{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:  0 18rem;
    color: white;
    background: linear-gradient( to right, #0a0f0f, #09102b, #131414);

}

.image-id{
    padding-left: 50px;
}

.image-id img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.home-content .text1{
    padding: 50px 30px;
    height: 60vh;
    margin: 28px;
}

.text1 h1{
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    opacity: 0.9;
}

.text1 h1 span{
    font-size: 45px;
    color: rgb(103, 209, 209);
    font-weight: bolder;
}

.text1 h2{
    font-size: 25px;
    margin-top: 10px;
    border-right: 4px solid rgb(230, 238, 240);
    width: fit-content;
    padding-right: 15px;
    opacity: 0.9;
    
}

.text1 p{
    font-size: 1.2rem;
    margin-top: 10px;
    color: grey;
    font-style: italic;
}

.button{
    margin-top: 30px;
}
.text1 a{
    background-color: rgb(10, 82, 82);
    color: rgb(252, 249, 249);
    font-size: 1.7rem;
    padding: 15px;
    text-decoration: none;
    border-radius: 30px;
  
}

.text1 a:hover{
    background-color: rgb(27, 121, 121);
}

.about-main{
    background-color:rgb(17, 16, 16);
    width: 100vw;
    height: 100vh;
    padding: 100px 18rem 0 18rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
}

.biography{
    width: 50vw;
    height: 30vh;
    background-color: rgb(48, 49, 49);
     padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgb(68, 68, 105);
    display: flex;
    flex-direction: column;
    justify-content: center;
   transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.biography h1{
    font-size: 30px;
    color: rgb(103, 209, 209);
    font-weight: bold;
    margin-bottom: 10px;

    
}

.biography p{
    font-size: 18px;
    margin-bottom: 7px;
}

.biography span{
    font-size: 25px;
    font-weight: bold;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills h2{
    margin-top: 25px;
    font-size: 30px;
    text-align: center;
    color: rgb(103, 209, 209);
    font-weight: bold;
}

.cards{
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.cards div{
    margin-left: 30px;
    background-color: rgb(48, 49, 49);
    width: 20vw;
    height: 27vh;
    padding: 10px 10px;
    border-radius: 10%;
    box-shadow: 0 8px 20px ;
   transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.cards div:hover{
    transform: translateY(-10px);
     background-color: rgb(32, 51, 51);
}

.cards h4{
    font-size: 1.3rem;
}

.cards li{
    list-style: none;
    font-size: 1rem;
    padding: 6px;
    color: rgb(207, 198, 198);
}

.fa-html5{
    font-size: 1.5rem;
    color: orange;
}

.fa-css{
    font-size: 1.5rem;
    color: rgb(255, 187, 0);
}

.fa-react{
    font-size: 1.5rem;
    color: rgb(255, 94, 0);
}

.fa-bootstrap{
    font-size: 1.5rem;
    color: rgb(17, 92, 69);
}

.fa-java{
     font-size: 1.5rem;
    color: rgb(22, 24, 148);
}

.fa-microsoft{
     font-size: 1.5rem;
    color: rgb(19, 20, 61);   
}

.fa-github{
    font-size: 1.5rem;
    color: rgb(27, 114, 88);
}

.fa-code{
    font-size: 1.5rem;
    color: rgb(17, 57, 233);
}

.fa-figma{
    font-size: 1.5rem;
    color: rgb(2, 5, 17);
}

.project-main{
    width: 100vw;
    height: 105vh;
    padding: 100px 18rem 0 18rem;
    background-color:rgb(22, 22, 22);
    color: rgb(26, 27, 27);
    color: aliceblue;
}

.project-content h1{
    font-size: 2rem;
    color: rgb(103, 209, 209);
}

.project-content p{
    margin-top: 10px;
    font-size: 1.5rem;
}

.display{
    width: 90vwvw;
    height: 80vh;
    display: flex;
    padding: 40px 15px;
    justify-content: center;
    align-items: center;
    
}


.card1, .card2, .card3 {
   margin-left: 60px;
   width: 20vw;
   height: 60vh;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   text-align: center;
   background-color: rgb(48, 49, 49);
   color: aliceblue;
   border-radius: 20px;
   padding-top: 20px;
   transition: transform 0.6s ease, box-shadow 0.6s ease;
    animation: moves 3s infinite alternate;
    transition: all 0.6s;
}

@keyframes moves {
    0%{
        box-shadow: 0 0 10px rgb(47, 116, 116), 0 0 20px rgb(45, 77, 54);
    
    }
    50%{
        box-shadow: 0 10px 20px rgb(38, 68, 68), -10px -10px 30px rgb(35, 71, 71);
    }
    100%{
        box-shadow: 0 0 10px rgb(38, 68, 68), 0 0 20px rgb(35, 71, 71);
    }
}


.card1 img, .card2 img, .card3 img{
    width: 18vw;
    height: 23vh;
   
}

.card1:hover, .card2:hover, .card3:hover{
    transform: translateY(-15px);
    background-color: rgb(48, 49, 49);
    color: aliceblue;
    

}

.card1 h3, .card2 h3, .card3 h3{
    margin: 13px 0;
}

.type{
    margin: 13px 0;
}

.type span{
    text-shadow: 0 1px 2px;
}

.links{
     margin: 30px 0; 
}

.live{
    border: 1px solid grey;
    font-size: 1.2rem;
    padding: 7px 20px; 
    border-radius: 50px; 
    background-color: rgb(59, 179, 179);
    color: white;
    text-decoration: none;
}

.code{
    border: 1px solid grey;
    font-size: 1.2rem;
    padding: 7px 20px;  
    border-radius: 50px; 
    text-decoration: none;
}

.git-link{
    font-size: 1.4rem;
    text-align: center;
}

.click{
    background-color: rgb(59, 179, 179);
    padding: 7px 35px; 
    border-radius: 50px; 
    color: white;
}

.click .fa-github{
     color: rgb(25, 88, 143);
    font-size: 1.5rem;
}

.contact-main{
    height: 100vh;
    width: 100vw;
    padding: 12vh 35px 0 35px;
    background-color: rgb(46, 45, 45);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 50vw;
    height: 65vh;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 20px;
    border-radius: 20px;
    background-color: rgb(69, 69, 71);
    animation: moveshadow 2s infinite alternate;
}

.content h1{
    font-family: "Dancing Script, cursive";
    font-size: 4rem;
    
}

.content ul{
    display: flex;
    list-style: none;
}

.content li{
    margin-left: 13px;
    display: flex;
    flex-direction: column;
    
}

.content li i{
    margin: 35px 0 20px 0 ;
    color: rgb(168, 166, 166);
}

 .content .fa-brands,
.content .fa-solid{
    font-size: 2.5rem;
}



.form{
     width: 25vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(69, 69, 71);
    border-radius: 20px;
    animation: moveshadow 2s infinite alternate;
    transition: all 0.6s;
}

@keyframes moveshadow {
    0%{
        box-shadow: 0 0 10px rgb(47, 116, 116), 0 0 20px rgb(45, 77, 54);
    
    }
    50%{
        box-shadow: 0 10px 20px rgb(38, 68, 68), -10px -10px 30px rgb(35, 71, 71);
    }
    100%{
        box-shadow: 0 0 10px rgb(38, 68, 68), 0 0 20px rgb(35, 71, 71);
    }
}

.form:hover{
    transform: scale(1.05);
}

input{
    width: 17vw;
    padding: 15px 14px;
    margin: 8px 0;
    border-radius: 35px;
}

.form button{
    width: 17vw;
    padding: 15px 14px;
    margin: 8px 0;
    border-radius: 35px;
}

footer{
    text-align: center;
     background-color: rgb(48, 48, 49);
    color: rgb(214, 207, 207);
    font-size: 1rem;
    padding: 15px 0;
    position: sticky;
    bottom: 0;
    width: 100vw;
   
}






